.login-parent {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-login {
  background-image: url("../img/wallpaper-login.jpg");
}

.wallpaper-register {
  background-image: url("../img/wallpaper-register.jpg");
}

.login-card {
  position: absolute;
  text-align: center;
  border-radius: 15px;
  width: 450px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.form-container {
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .login-parent {
    height: auto;
  }
  .login-card {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
  .wallpaper-login {
    background: unset;
  }
  .wallpaper-register {
    background: unset;
  }
  .form-container {
    margin-top: 60px;
  }
}

.already-div {
  margin-bottom: 18px;
}
