.center-header {
  display: block;
  justify-content: space-between;
}

.container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.ant-menu-item {
  font-size: 1.2em;
}

.logo-item {
  padding-left: 0;
}

.logo {
  font-size: 1.3em;
  font-weight: 400;
}

.mobile-menu-icon {
  position: absolute;
  font-size: 1.1em;
  cursor: pointer;
}

/* SIDER */
.sider {
  position: fixed;
  top: 64px;
}
.mobile-menu {
  width: 276px;
}

/* CONTENT */

.alert-container {
  max-width: 600px;
  margin: auto;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
}

.content-div {
  min-height: 430px;
}

/* FOOTER */
.footer {
  margin-top: 30px;
}

@media only screen and (max-width: 500px) {
  .center-header {
    color: whitesmoke;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu {
    display: none;
  }
  .center-header {
    display: block;
    text-align: center;
  }
  .logo-mobile {
    display: block;
    color: whitesmoke;
    font-size: 1.3em;
  }
}
