.center {
  text-align: center;
}

.lead {
  font-size: 1.4em;
}

.lead-2 {
  font-size: 1.3em;
}

.mt-3 {
  margin-top: 15px;
}

.mt-6 {
  margin-top: 40px;
}

.center-card {
  max-width: 850px;
  margin: auto;
}

.bold {
  font-weight: 500;
}
