.login-parent {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.login-card {
  position: absolute;
  text-align: center;
  border-radius: 15px;
  width: 450px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.wallpaper-login {
  background-image: url("../img/wallpaper-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-register {
  background-image: url("../img/wallpaper-register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .login-card {
    width: 100%;
    border-radius: 0px;
  }
}
