#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  padding: 24px;
  min-height: 360px;
}

.content-div {
  margin: 24px 16px 0;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  text-align: center;
}

.header-div {
  padding: 0;
}
